.carouseImg{
    
  padding:0;    
  border-radius: 20px;
  width: 100%;
  height: 900px;
  max-height: 900px;
  min-width: 100%;
  max-width: none;
}

.carousel-inner{
     overflow: hidden;
     border-radius: 20px;
}



.top-buffer { margin-top:100px; }
.left-buffer {
 margin-left: 10%   
}

.buffer{
    margin-left: 15%
}
.w3-padding-16 {
    width:100%;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.w3-center {
    text-align: center !important;
}

.round{
    border-radius: 10px;
}
.rounded{
    border-radius: 10px 10px 0px 0px;
}

.col{
     color: #d6d6d6;
}

.nasl{
    text-align:center;
    text-shadow: 2px 2px #000000;
    margin-top:100px;
    font-family: ghetto;
    font-size: 100px;
}

.main{
    padding-bottom: 200px;
}

.panel-my{
     border-color:#333333 !important;
}

.panel-my > .panel-heading{
    background-color:#333333;
    color:#333333;
    border-color: #333333;
}

.fix{
    margin-bottom: 0px;
}

.bgd{
    width:100%;
    background-image:url("aa.jpg");
    background-repeat:no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.bord{
     background-image:url("win1.jpg");
}

.borde{
     background-image:url("win2.jpg");
}

.colorify{
    opacity:0.94;
    background-image:url("win2.jpg");
}

@font-face{
    font-family: 'ghetto';
    src: url('ghetto.ttf');
}

.modal-open {
  padding-right: 0 !important;
}

.left-addon .glyphicon  { top:  11px; left: 12px;}

#area-chart,
#line-chart,
#bar-chart,
#stacked,
#areas-chart,
#pie-chart{
  min-height: 250px;
}
